.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;

    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

    color: #161616;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;

    &:hover {
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }

    &:active {
        background-color: #eeeeee;
    }

    &:focus {
        outline: none;
        box-shadow:
            0 -1px 0 rgba(0, 0, 0, .04),
            0 2px 4px rgba(0, 0, 0, .25),
            0 0 0 3px #c8dafc;
    }

    &:disabled {
        filter: grayscale(100%);
        background-color: #ebebeb;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
        cursor: not-allowed;
    }
}






@keyframes colorChange {
    0% {
            background-color: #f87171;
        }
    
        /* Red */
        5% {
            background-color: #34d399;
        }
    
        /* Green */
        10% {
            background-color: #60a5fa;
        }
    
        /* Blue */
        15% {
            background-color: #fbbf24;
        }
    
        /* Yellow */
        20% {
            background-color: #a78bfa;
        }
    
        /* Purple */
        25% {
            background-color: #fb7185;
        }
    
        /* Pink */
        30% {
            background-color: #f97316;
        }
    
        /* Orange */
        35% {
            background-color: #4ade80;
        }
    
        /* Light Green */
        40% {
            background-color: #22d3ee;
        }
    
        /* Cyan */
        45% {
            background-color: #818cf8;
        }
    
        /* Indigo */
        50% {
            background-color: #facc15;
        }
    
        /* Amber */
        55% {
            background-color: #c084fc;
        }
    
        /* Violet */
        60% {
            background-color: #38bdf8;
        }
    
        /* Sky Blue */
        65% {
            background-color: #f472b6;
        }
    
        /* Rose */
        70% {
            background-color: #f59e0b;
        }
    
        /* Amber Dark */
        75% {
            background-color: #10b981;
        }
    
        /* Emerald */
        80% {
            background-color: #2dd4bf;
        }
    
        /* Teal */
        85% {
            background-color: #8b5cf6;
        }
    
        /* Indigo Dark */
        90% {
            background-color: #eab308;
        }
    
        /* Yellow Dark */
        95% {
            background-color: #ec4899;
        }
    
        /* Pink Dark */
        100% {
            background-color: #f87171;
        }
    
        /* Red */

    /* Red */
}

.animate-color-change {
    animation: colorChange 200s infinite;
    
}