<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title}, ~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>

    <div id="content" class="bg-slate-400 mt-[70px]" >
      <h1>About</h1>
      <p>Lorem ipsum Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quibusdam sapiente in ipsum saepe, voluptas illum molestiae facilis qui odit sit dolor nam reprehenderit provident blanditiis vero iure! Iusto, provident, veritatis alias nisi assumenda commodi quos excepturi aliquid dolore hic iure facere ut sed aliquam voluptatum! Est consequatur assumenda deserunt. dolor sit amet consectetur, adipisicing elit. Animi, numquam dolores nam molestias ea aliquid officia ipsum quo ducimus fugit, repellat harum praesentium optio quisquam! Quam asperiores voluptates vel fuga?</p>
    </div>

    <script></script>
    
</body>
</html>