<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title}, ~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>

    <section id="content" >
        <h1>Contact Page</h1>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore deleniti voluptatem, veritatis eveniet corrupti debitis atque assumenda. Possimus eligendi dolor pariatur, amet maiores vero eius ullam et perferendis quos itaque!</p>
      </section>

      <script></script>
    
</body>
</html>